/*

EXTEND
--------------------------------------------------
Customizations to components and temporary storage
for new components.
--------------------------------------------------

*/

html {
	background: black;
	height: 100%;
}
body {
	height: 100%;
}



.is-text-center {
	text-align: center;
}

@media @pm {
	.pm-text-center {
		text-align: center;
	}
}