

/* Remove calendar zebra striping */
.year .calendar table tr td {
    background: transparent;
}

/* Fix jagged edge on calendar days fix */
.year .calendar table tr td:after {
    bottom: -8px !important;
}

.calendar table td.has-events.has-milestone .day:before {
    background: red;
}