

/* Remove calendar zebra striping */
.year .calendar table tr td {
    background: transparent;
}


/* The below fixes have something to do with absolute not setting the element to 100% of it's parent */ 

/* Fix jagged edge on calendar days fix */

.year .calendar table tr td:after {
    bottom: -8px !important;
}

.has-milestone .day {
    height: 20px;
    width: 20px;
}
