/*

CHECKERBOARD
Used to check alignment. Class should be applied
to the body tag.
--------------------------------------------------

*/

body.checkerboard:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1000%;
	z-index: 10000;
	pointer-events: none;
	background-color: rgba(255,255,255,.10);
	background-size: 2rem 2rem;
	background-position: 0 0, 1rem 1rem;
	background-image: -webkit-linear-gradient(45deg, rgba(0,0,0,.10) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.10) 75%, rgba(0,0,0,.10)),
	                  -webkit-linear-gradient(45deg, rgba(0,0,0,.10) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.10) 75%, rgba(0,0,0,.10));
	background-image: -moz-linear-gradient(45deg, rgba(0,0,0,.10) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.10) 75%, rgba(0,0,0,.10)),
	                  -moz-linear-gradient(45deg, rgba(0,0,0,.10) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.10) 75%, rgba(0,0,0,.10));
	background-image: linear-gradient(45deg, rgba(0,0,0,.10) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.10) 75%, rgba(0,0,0,.10)),
	                  linear-gradient(45deg, rgba(0,0,0,.10) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.10) 75%, rgba(0,0,0,.10));
}