
// Classes use important to override specificity
// present in components.

// MARGINS
//----------------------------------------------------
.is-mb0 { margin-bottom: 0rem !important; }
.is-mb1 { margin-bottom: 1rem !important; }
.is-mb2 { margin-bottom: 2rem !important; }
.is-mb3 { margin-bottom: 3rem !important; }
.is-mb4 { margin-bottom: 4rem !important; }
.is-mb5 { margin-bottom: 5rem !important; }
.is-mb6 { margin-bottom: 6rem !important; }
.is-mb7 { margin-bottom: 7rem !important; }
.is-mb8 { margin-bottom: 8rem !important; }
.is-mb9 { margin-bottom: 9rem !important; }
@media @pm {
	.pm-mb0 { margin-bottom: 0rem !important; }
	.pm-mb1 { margin-bottom: 1rem !important; }
	.pm-mb2 { margin-bottom: 2rem !important; }
	.pm-mb3 { margin-bottom: 3rem !important; }
	.pm-mb4 { margin-bottom: 4rem !important; }
	.pm-mb5 { margin-bottom: 5rem !important; }
	.pm-mb6 { margin-bottom: 6rem !important; }
	.pm-mb7 { margin-bottom: 7rem !important; }
	.pm-mb8 { margin-bottom: 8rem !important; }
	.pm-mb9 { margin-bottom: 9rem !important; }
}
@media @sm {
	.sm-mb0 { margin-bottom: 0rem !important; }
	.sm-mb1 { margin-bottom: 1rem !important; }
	.sm-mb2 { margin-bottom: 2rem !important; }
	.sm-mb3 { margin-bottom: 3rem !important; }
	.sm-mb4 { margin-bottom: 4rem !important; }
	.sm-mb5 { margin-bottom: 5rem !important; }
	.sm-mb6 { margin-bottom: 6rem !important; }
	.sm-mb7 { margin-bottom: 7rem !important; }
	.sm-mb8 { margin-bottom: 8rem !important; }
	.sm-mb9 { margin-bottom: 9rem !important; }
}
@media @md {
	.md-mb0 { margin-bottom: 0rem !important; }
	.md-mb1 { margin-bottom: 1rem !important; }
	.md-mb2 { margin-bottom: 2rem !important; }
	.md-mb3 { margin-bottom: 3rem !important; }
	.md-mb4 { margin-bottom: 4rem !important; }
	.md-mb5 { margin-bottom: 5rem !important; }
	.md-mb6 { margin-bottom: 6rem !important; }
	.md-mb7 { margin-bottom: 7rem !important; }
	.md-mb8 { margin-bottom: 8rem !important; }
	.md-mb9 { margin-bottom: 9rem !important; }
}
@media @lg {
	.lg-mb0 { margin-bottom: 0rem !important; }
	.lg-mb1 { margin-bottom: 1rem !important; }
	.lg-mb2 { margin-bottom: 2rem !important; }
	.lg-mb3 { margin-bottom: 3rem !important; }
	.lg-mb4 { margin-bottom: 4rem !important; }
	.lg-mb5 { margin-bottom: 5rem !important; }
	.lg-mb6 { margin-bottom: 6rem !important; }
	.lg-mb7 { margin-bottom: 7rem !important; }
	.lg-mb8 { margin-bottom: 8rem !important; }
	.lg-mb9 { margin-bottom: 9rem !important; }
}
@media @xl {
	.xl-mb0 { margin-bottom: 0rem !important; }
	.xl-mb1 { margin-bottom: 1rem !important; }
	.xl-mb2 { margin-bottom: 2rem !important; }
	.xl-mb3 { margin-bottom: 3rem !important; }
	.xl-mb4 { margin-bottom: 4rem !important; }
	.xl-mb5 { margin-bottom: 5rem !important; }
	.xl-mb6 { margin-bottom: 6rem !important; }
	.xl-mb7 { margin-bottom: 7rem !important; }
	.xl-mb8 { margin-bottom: 8rem !important; }
	.xl-mb9 { margin-bottom: 9rem !important; }
}


// RESPONSIVE HIDE
// Hide the element at this breakpoint
@media @ps {
  .ps-hide { display: none !important; }
}
@media @pl {
  .pl-hide { display: none !important; }
}
@media @pm {
  .pm-hide { display: none !important; }
}
@media @sm {
  .sm-hide { display: none !important; }
}
@media @md {
  .md-hide { display: none !important; }
}
@media @lg {
  .lg-hide { display: none !important; }
}
@media @xl {
  .xl-hide { display: none !important; }
}


// RESPONSIVE SHOW
// Only show the element at this breakpoint
@media @not-ps {
  .ps-show { display: none !important; }
}
@media @not-pl {
  .pl-show { display: none !important; }
}
@media @not-pm {
  .pm-show { display: none !important; }
}
@media @not-sm {
  .sm-show { display: none !important; }
}
@media @not-md {
  .md-show { display: none !important; }
}
@media @not-lg {
  .lg-show { display: none !important; }
}
@media @not-xl {
  .xl-show { display: none !important; }
}
