// Intro
//----------------------------------------------------

.logo {
	position: relative;
	margin: 3rem auto 0 auto;
	width: 52rem;
	z-index: 2;

	img {
		width: 100%;
	}
	.logo_tagline {
		display: block;
		color: @gray-light;
		border-top: 1px solid @gray;
		padding-top: 1rem;
		margin-top: .6rem;
		text-transform: uppercase;
		text-align: center;
		font-size: 1.6rem;
		letter-spacing: .4rem;
	}
}

#scroll-indicator {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: 130px;
	transform: translateX(-50%);
}


.background_sphere {
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 50%;

	&.is-1 {
		background: radial-gradient(circle farthest-side at 30% 50%, rgba(79,8,50,0) 60%, rgba(79,8,50,1) 100%);
		margin-left: -37.5rem;
		margin-top: -37.5rem;
		width: 75rem;
		height: 75rem;
	}
	&.is-2 {
		background: radial-gradient(circle farthest-side at 30% 50%, rgba(30,35,64,0) 60%, rgba(30,35,64,1) 100%);
		margin-left: -42.5rem;
		margin-top: -42.5rem;
		width: 85rem;
		height: 85rem;
	}
}

#arcs {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) scale(1.1);
}

.dotted {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

#rays {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}


// MOBILE 
//----------------------------------------------------
@media @pm {
	.logo {
		width: 38rem;

		.logo_tagline {
			font-size: 1.5rem;
			letter-spacing: .1rem;
		}
	}
	#intro .background {
		left: -20%;
		transform: scale(.71);
		width: 140%;
	}
	#rays, #arcs {
		display: none;
	}
	.background_sphere {
		&.is-1 {
			margin-left: -50rem;
			margin-top: -50rem;
			width: 100rem;
			height: 100rem;
		}
		&.is-2 {
			margin-left: -55rem;
			margin-top: -55rem;
			width: 110rem;
			height: 110rem;
		}
	}
}
@media @sm {
	#scroll-indicator {
		position: absolute;
		top: 35%;
		left: 50%;
		margin-top: 130px;
		transform: translateX(-50%);
	}
	#intro .background {
		left: -20%;
		transform: scale(.7);
		width: 140%;
	}
	#rays, #arcs {
		display: none;
	}
	.background_sphere {
		&.is-1 {
			margin-left: -50rem;
			margin-top: -50rem;
			width: 100rem;
			height: 100rem;
		}
		&.is-2 {
			margin-left: -55rem;
			margin-top: -55rem;
			width: 110rem;
			height: 110rem;
		}
	}
}