// COLS
//----------------------------------------------------
.cols {
	padding: 0 5rem;
	width: 100%;
	max-width: 110rem;
	z-index: 1;

	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

// STATES
.cols {
	&.is-middle {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		height: 1px; // 1px height so children center from the middle

		.col {
			transform: translateY(-50%);
		}
	}
	&.is-portfolio {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		padding-top: 11rem; 
		padding-bottom: 5rem;
		width: 100%;
		max-width: 112rem;
		height: 100%;

		.col {
			width: 20%;
			height: 50%;
			padding: 1rem;
		}
	}
}


// COL
//----------------------------------------------------
.col {
	position: relative;
	float: left;
	min-height: 10px;
}

// STATES
.col {
	&.is-left {
		float: left;
		width: 50%;
	}
	&.is-right {
		float: right;
		width: 50%;
	}
	&.is-centered {
		float: none;
		margin: 0 10%;
		width: 80%;
		text-align: center;
	}

	// ----
	&.is-padded-left {
		padding-left: 10%;
	}
	&.is-padded-right {
		padding-right: 10%;
	}
	&.is-visible-mobile-portrait {
		display: none;
	}
	// ----
}

//----------------------------------------------------
// BREAKPOINTS
//----------------------------------------------------
@media @desktop-small {
	.cols {
		max-width: 100rem;
		&.is-portfolio {
			max-width: 102rem;
		}
	}
}
@media @desktop-large {
	.cols {
		max-width: 120rem;
		&.is-portfolio {
			max-width: 122rem;
		}
	}
}
@media @mobile-portrait {

	// UTILITIES
	.is-hidden-mobile-portrait {
		display: none !important;
	}
	.is-visible-mobile-portrait {
		display: block !important;
	}
	.col.is-padded-v-mobile-portrait {
		padding: 4rem 0 !important;
	}

	// COLS
	.cols {
		top: 0;
		left: 0;
		width: 100%;
		padding: 0 4rem;
		transform: translate(0%,0%);
	}
	.cols.is-mobile-full-height {
		position: absolute;
		top: 0;
		left: 0;
		transform: translate(0%,0%);
		height: 100%; // 1px height so children center from the middle
	}

	// COL
	.col  {
		position: relative;
		text-align: center;
		transform: translateY(0%) !important;

		&.is-mobile-auto-height,
		&.is-mobile-short,
		&.is-mobile-tall {
			float: none;
			transform: translateY(0) !important;
			padding: 0;
			margin: 0;
			width: 100%;
		}
		&.is-centered {
			transform: translateY(-50%) !important;
		}
		&.is-mobile-short {
			height: 40%;
		}
		&.is-mobile-tall {
			height: 60%;
		}
		&.is-mobile-auto-height {
			height: auto;
		}
	}

	// PORTFOLIO
	.cols.is-portfolio {
		position: relative;
		top: 0;
		left: 0;
		transform: translateX(0);
		padding: 0 2rem 0 2rem;
		width: 100%;
		height: auto;

		.col {
			width: 50%;
			height: 40rem;
			padding: 2rem;
		}
	}
}
@media @mobile-landscape {
	.cols {
		width: 100%;
		padding: 0 3rem;
	}
	.col.is-padded-left {
		padding-left: 4rem;
	}
	&.is-padded-right {
		padding-right: 4rem;
	}
}