// CONSTELLATION
//----------------------------------------------------
.gradient {
	position: absolute;
	right: 0;
	width: 100%;
}

.gradient {
	&.is-1 {
		top: 20%;
		background: radial-gradient(80% 60% at right,rgba(63,7,40,1),rgba(34,3,13,1),rgba(0,0,0,0));
		height: 100%;
	}
	&.is-2 {
		top: 10%;
		background: radial-gradient(100% 60% at left,rgba(40,8,41,1),rgba(20,10,30,1),rgba(0,0,0,0));
		height: 120%;
	}
	&.is-3 {
		top: 30%;
		background: radial-gradient(100% 60% at right,rgba(14,8,54,1),rgba(20,7,43,1),rgba(0,0,0,0));
		height: 160%;
	}
	&.is-4 {
		top: -10%;
		background: radial-gradient(100% 60% at left,rgba(40,8,41,1),rgba(20,10,30,1),rgba(0,0,0,0));
		height: 120%;
	}
	&.is-5 {
		top: -30%;
		background: radial-gradient(80% 60% at right,rgba(63,7,40,1),rgba(34,3,13,1),rgba(0,0,0,0));
		height: 100%;
	}
}