.image-overlay {
	position: relative;
	clear: both;
	margin-bottom: 8rem;
}
.image-overlay_back {
	width: 90%;
	img {
		display: block;
		width: 100%;
	}
}
.image-overlay_front {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	height: 75%;

	img {
		display: block;
		height: 100%;
	}
}