
// INTRO
//----------------------------------------------------
.intro {
	.grid;
	margin: 0 -2rem 8rem -2rem; // Gutter Adjustment

	.intro_headline {
		position: relative;
		.grid-col;
		.-width-1-3;
		padding: 0 2rem; // Gutter Adjustment
		text-align: left;

		h2 {
			color: @primary;
			margin-top: 1rem;
			font-size: 4rem;
			line-height: 8rem;
			font-family: @font-family-sans-light;
			font-weight: normal;
		}
	}
	.intro_text {
		.grid-col;
		.-width-1-3;
		//column-count: 2;
		//column-gap: 4rem;
		padding: 0 2rem; // Gutter Adjustment

		p {
			color: @gray-light;
			line-height: 4rem;
		}
	}
}