
// MODAL
//----------------------------------------------------

.modal {
	background: @gray-lightest;
	position: relative;
	// position: fixed;
	z-index: 1;
	padding: 9rem 9rem 0 9rem;
	width: 100%;
	overflow: auto;

	.modal_content {
		margin: 0 auto;
		max-width: 1000px;
	}
	.modal_close {
		position: absolute;
		position: fixed;
		top: 3rem;
		right: 3rem;
		z-index: 3;
		display: block;
		background: url(img/close.svg) no-repeat center center;
		width: 4rem;
		height: 4rem;
		cursor: pointer;
		text-indent: -999rem;
	}
	
}

// STATES
.modal.is-active {
	position: relative;
	top: 0;

	.modal_close {
		top: 3rem;
	}
}

// ANIMATION
.modal {
	transition: top .6s;
}