// SECTIONS
//----------------------------------------------------
.sections {
	height: 100%;

	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.section {
	position: relative;
	min-height: 75rem;
	max-height: 100rem;
	height: 100%;

	border-bottom: 1px solid rgba(255,255,255,.2);
}

// STATES
.section.is-behind {
	transform: scale(.85) translatey(-0%);
	opacity: .4;
}
.section.is-short {
	max-height: 87rem;
}



//----------------------------------------------------
// MOBILE
//----------------------------------------------------
@media @mobile {
	.section.is-mobile-auto-height {
		height: auto;
		max-height: none;
	}
}