
// FEATURE
//----------------------------------------------------
.text-block {
	text-align: center;

	h2 {
		color: @primary;
		margin: 4rem 0 2rem 0;
		line-height: 4rem;
		font-size: 3rem;

	}
	p {
		color: @gray-light;
		margin: 0 0 2rem 0;
		line-height: 4rem;
	}
	p.-lead {
		width: 75%;
		margin: 0 auto 8rem auto;
		text-align: center;
		font-size: 2rem;
		font-family: @font-family-sans-light;
	}
}